body{
    background: black;
}
section{
    border-color: rgb(36, 197, 189);
    border-style: ridge;
    width: 620px;
    height: 635px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#resultado{
    border-style: ridge;
    position: relative;
    margin-top: 10px;
    width: 590px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(36, 197, 189);
    background: black;
}
nav{
    position: relative;
    margin-top: 50px;
    width: 590px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 410px;
    text-align: center;
}
#limpa{
    background: black;
    width: 275px;
    height: 65px;
    border-style: ridge;
    color: white;
    border-color: white;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 55px;
    border-radius: 10px;
    display: inline-block;
    line-height : 60px;
}
#limpa:hover{
    background: white;
    color: black
}
.numeros{
    background: black;
    margin-top: 7px;
    width: 130px;
    height: 65px;
    border-style: ridge;
    color: rgb(36, 197, 189);
    border-color: rgb(36, 197, 189);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 55px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    line-height: 60px;
}
#virgula{
    line-height: 60px;
}
.numeros:hover{
    background: rgb(36, 197, 189);
    color: black;
}
.sinais{
    background: black;
    margin-top: 7px;
    width: 130px;
    height: 65px;
    border-style: ridge;
    color: rgb(207, 113, 25);
    border-color: rgb(207, 113, 25);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 55px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    line-height : 60px;
    line-height : 60px;
}
.sinais:hover{
    background:rgb(207, 113, 25);
    color: black;
}
#apaga{
    background: black;
    margin-top: 7px;
    width: 130px;
    height: 65px;
    border-style: ridge;
    color: rgb(36, 197, 189);
    border-color: rgb(36, 197, 189);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 55px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    line-height : 60px;
    text-underline-position: above;
}
#apaga:hover{
    background:rgb(36, 197, 189);
    color: black;
}
#enter{
    background: black;
    margin-top: 7px;
    width: 275px;
    height: 65px;
    border-style: ridge;
    color: rgb(25, 207, 34);
    border-color: rgb(25, 207, 34);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 55px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    line-height : 60px;
}
#enter:hover{
    background:rgb(25, 207, 34);
    color: black;
}
#calculo01{
    color: white;
    width: 585px;
    height: 40px;
    text-align: end;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgb(36, 197, 189);
    background: black;
    margin: auto;
}
#calculo02{
    width: 585px;
    height: 110px;
    color: white;
    text-align: end;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 105px;
    color: rgb(36, 197, 189);
    line-height : 90px;
    overflow-y: hidden;
    background: black;
    margin: auto;
}
::-webkit-scrollbar{
    background: black;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background:rgb(36, 197, 189) ;
}